@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/pt-sans-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/pt-sans-bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/pt-sans-italic.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
	font-display: swap;
}

/* PT Sans Narrow */
@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
	font-display: swap;
}

/* ++++++++++++ sticky-footer ++++++++++++++++++*/


html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main-container {
	flex-grow: 1;
}

/* +++++++++++++ общие +++++++++++++++++++*/
body {
	margin: 0 auto;
	min-width: 1020px;
	width: 1020px;

	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #242424;
	background-color: #fbf7f4;
}

.button {
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	line-height: 100%;
	font-weight: 700;
	text-align: center;

	padding: 14px 20px;

	cursor: pointer;
	border: none;

	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.button:hover,
.social-link:hover,
.slider-btn:hover {
	background-color: #814b18;
}

.button:focus,
.social-link:focus,
.slider-btn:focus {
	outline: 2px solid #dbb590;
	background-color: #4e2e0e;
}

.button:disabled,
.slider-btn:disabled {
	color: #e7e7e7;
	background-color: #595959;
}

.button:disabled:hover {
	background-color: #595959;
	outline: none;
	cursor: default;
}

.button-feedback {
	color: #242424;
	background-color: #ffffff;
}

.button-feedback:hover {
	background-color: #dbb590;
}

.button-feedback:focus {
	outline: 2px solid #af7842;
	background-color: #dbb590;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav-list,
.adv-list,
.footer-social-list,
.breadcrumbs,
.product-list,
.pagination,
.serv-list,
.cont-schedue-list,
.slider-division,
.filter-list,
.cart-items-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.title,
.inner-title,
.serv-name,
.cont-sybtitle,
.cont-text {
	margin: 0;
}

/* +++++++++++++ header +++++++++++++++++++*/
.main-header {

	padding: 0 40px;
	color: #ffffff;
	background-color: #000000;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.nav-list {

	width: 320px;

	display: flex;
	flex-wrap: wrap;
}

.nav-user {
	justify-content: end;
	max-width: 250px;
	margin-left: auto;
}

.nav-user .nav-link {
	min-width: 16px;
	min-height: 22px;
}

.nav-link {
	position: relative;
	padding: 24px 20px;
	display: block;
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 16px;
	line-height: 140%;
	font-weight: 700;

	text-align: center;
	color: inherit;

	text-transform: uppercase;
	text-decoration: none;
}

.nav-link:hover {
	background-color: #595959;
}

.nav-link:focus {
	box-shadow: inset 0 0 0 4px #e7e7e7;
	outline: none;
}

.navigation-icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #dbdbdb;
}

.navigation-link:hover .navigation-icon {
	fill: #242424;
}

.navigation-link:focus .navigation-icon {
	fill: #dbdbdb;
}

.navigation-link-login {
	padding-left: 44px;
}

.navigation-link-login .navigation-icon {
	right: auto;
	left: 20px;
	margin: auto 0;
}

.nav-link-current::before {
	content: "";

	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	height: 4px;
	background-color: #ffffff;
}
/* +++++++++++++ popover +++++++++++++++++++*/
.nav-item {
  position: relative;
}

.popover {
	position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;

  width: 300px;
	min-height: 186px;
  padding: 40px;

  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #ffffff;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);

	display: none;
}

.popover-open {  /* класс для JS*/
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
}


.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover-cart {
  width: 420px;
}

.popover-cart .popover-close-button {
  padding-left: 44px;
  background-image: url("../img/icons/basket.svg");
  background-repeat: no-repeat;
  background-position: 22px center;
}

.cart-item {
  display: grid;
  grid-template-columns: 284px 56px;
}

.cart-item-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

.cart-item-price {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #af7842;
}

.cart-item .button {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.cart-item + .cart-item {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dashed #595959;
}


/* ++++++++++++++++++++++++++++++++*/
.main-index {
	padding: 0 40px;

	color: #ffffff;
	background-color: #000000;
	background-image: url(../img/bg_fon.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.main-logo {
	display: block;
	margin: 0 auto;
	padding: 64px 0;
}

/* ++++++++++++++ advantages ++++++++++++++++++*/
.advantages {
	margin-bottom: 58px;
}

.adv-list {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.adv-item {
	width: 227px;
}

.adv-title {
	position: relative;

	font-family: "PT Sans Narrow", sans-serif;
	font-size: 32px;
	line-height: 110%;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 56px;
}

.adv-title::before {
	position: absolute;
	bottom: -40px;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-left: -9px;
	background-color: #ffffff;
	content: "";
	transform: rotate(45deg);
}

.adv-description {
	margin: 0;
}

/* ++++++++++++++ services ++++++++++++++++++*/
.index-column {
	position: relative;

	display: flex;
	padding: 40px;

	color: #242424;
	background-color: #fbf7f4;
	background-image: url("../img/pattern-bg.png");

	margin-bottom: 31px;
}

.index-column::after {
	content: '';
	position: absolute;
	top: 40px;
	bottom: 40px;
	width: 0;
	border-right: 1px dashed #595959;
}

.index-column:first-of-type::after {
	left: 470px;
}

.index-column:last-of-type::after {
	left: 430px;
}

.index-columns:last-child {
	margin-bottom: 0;
}

.services {
	width: 390px;
	text-transform: uppercase;

	margin-right: 80px;
}

.serv-list {
	display: flex;
	flex-direction: column;
	gap: 22px;
	margin-bottom: 30px;
}

.serv-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	font-family: "PT Sans Narrow", sans-serif;
	font-size: 20px;
	line-height: 140%;
	font-weight: 700;
}

.serv-item::before {
	content: "";
	flex-grow: 1;
	order: 2;
	margin-right: 16px;
	margin-left: 16px;
	border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
}

.serv-price {
	color: #AF7842;
	order: 3;
}

.button-all {
	padding-right: 44px;
	background-image: url("../img/icons/arrow-right.svg");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center right 20px;
}

/* ++++++++++++++ gallery ++++++++++++++++++*/
.gallery {
	width: 390px;
}

.title {
	font-family: "PT Sans Narrow", sans-serif;

	font-size: 32px;
	line-height: 110%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.slider-img {
	display: block;
}

.slider-btn {
	width: 48px;
	height: 60px;

	border: none;
	cursor: pointer;

	background-color: #000000;
	background-image: url(../img/icons/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-division {
	display: flex;
	flex-wrap: wrap;
		justify-content: center;
}

.slider-division-button {
	width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #BDBDBD;

		border: none;
		cursor: pointer;
}

.slider-division-button:hover {
  background-color: #af7842;
}

.slider-division-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider-division-button-current {
  background-color: #242424;
}

.slider-wrapp {
	position: relative;
}

.btn-wrapp {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);

	display: flex;
  justify-content: space-between;
}

.slider-division {
	display: flex;
	gap: 8px;
}

/* ++++++++++++ contacts ++++++++++++++++++++*/
.contacts {
	width: 350px;
	margin-right: 80px;

}

.cont-sybtitle {
	font-family: "PT Sans Narrow", sans-serif;

	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;
	color: #AF7842;

	margin-bottom: 8px;
}

.contacts-address {
	font-style: normal;
	margin-bottom: 22px;
}

.cont-text {
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;

	margin-bottom: 8px;
}

.cont-phone {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 24px;
	line-height: 120%;
	font-weight: 700;
	color: #242424;
	text-transform: uppercase;
	text-decoration: underline;
}

.cont-schedue-list {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-bottom: 21px;
}

.button+.button {
	margin-left: 16px;
}

/* +++++++++++++ appointment +++++++++++++++++++*/
.appointment {
	width: 430px;
}

.appointment-text {
	color: #595959;
}

.appointment-form {
	display: grid;
	grid-template-columns: 114px 74px 208px;
	gap: 19px 17px;

	color: #242424;
}

.appointment-form-name {
	grid-column: 1/-1;
}

.appointment-submit {
	grid-column: 1/-1;
	justify-self: start;
}

.field-group {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.appointment-form .info {
	display: none;
}

.form-label {
	font-size: 16px;
	line-height: 140%;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 8px;
}

.field {
padding: 10px 16px;	
margin: 0;
font-family: inherit;
font-weight: 700;
background-color: #ffffff;
border: 2px solid #242424;

}

/* Hover, Focus */
.field:hover,
.field:focus {
  border-color: #af7842;
}

.field:focus {
  outline: 2px solid #dbb590;
}

/* Disabled */
.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #dbb590;
  border-color: #595959;
}

/* Invalid */
.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #ea5454;
}

/* Placeholder */
.field::placeholder {
  color: #dbdbdb;
  opacity: 1;
}



/* +++++++++++++ footer +++++++++++++++++++*/
.main-footer,
.page-footer {

	padding: 0 40px;
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background-color: #242424;
	background-image: url("../img/pattern-bg.png");
}

.main-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 100px;
}

.footer-contacts {
	width: 200px;
}

.footer-contacts-logo {
	display: block;
	margin-bottom: 24px;
}

.footer-cont-text {
	margin-bottom: 4px;
}

.footer-cont-phone {
	margin-bottom: 16px;
}

.footer-mewsletter {
	width: 280px;
}

.newsletter-form {
	display: flex;
}

.newsletter-form .field {
	/* width: 223px; */
	flex-grow: 1;
	border: 2px solid #000000;
}

.newsletter-button {
	width: 56px;
	height: 44px;
	background-image: url("../img/icons/arrow-tail-right.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.footer-social {
	max-width: 185px;
}

.social-link {
	display: block;
	padding: 14px 20px;
	min-width: 16px;
	min-height: 20px;
}

.social-link {
	display: block;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
}

.social-link-tw {
	background-image: url("../img/icons/sicial_twitter.svg");
}

.social-link-vk {
	background-image: url("../img/icons/social_vk.svg");
}

.social-link-inst {
	background-image: url("../img/icons/social_sinstagram.svg");
}

.footer-cont-phone {
	color: #ffffff;
}

.footer-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 14px;
}

.about-text {
	font-size: 14px;
	line-height: 140%;
	font-weight: 700;
}

.htmlacademy-link {
	color: #AF7842;
}

/* +++++++++++++ КАТАЛОГ +++++++++++++++++++*/
.navigation-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
}

.main-inner {
	padding: 40px 40px 60px;
}

.catalog-container {
	display: flex;
}

.filters {
	width: 225px;
	margin-right: 20px;
}

.inner-header {
	margin-bottom: 32px;
}

.inner-title {
	padding-bottom: 16px;

	font-family: "PT Sans Narrow", sans-serif;
	font-size: 32px;
	line-height: 110%;
	text-transform: uppercase;
}

.breadcrumbs {
	display: flex;
	gap: 32px;
}

/* Link */
.breadcrumbs-link {
	color: inherit;
}

.breadcrumbs-item {
	position: relative;
	margin-right: 8px;
	list-style-type: none;
}

.breadcrumbs-item::after {
	position: absolute;
	top: 10px;
	right: -20px;
	width: 8px;
	height: 8px;
	background-color: #242424;
	content: "";
	transform: rotate(45deg);
}

.breadcrumbs-item:last-child::after {
	content: none;
}

.breadcrumbs-link-current {
	color: #595959;
}

/* +++++++++++++ КАТАЛОГ  range +++++++++++++++++++*/

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #af7842;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
	gap: 4px;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  gap: 5px;
}

.range-input {
  width: 36px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
	
}

/*не  поняза зачем это?*/
/* .range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
} */

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
} 

.catalog-filter {
	font-weight: 700;
}

.filter-title {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 20px;
	line-height: 140%;
	text-transform: uppercase;
}

/* +++++++++++ КАТАЛОГ  filter  checked & radio ++++++++++++*/

.filter-group {
margin: 0;	
margin-bottom: 40px;

padding: 0;
border: none;
}

.filter-list {
	display: flex;	
	flex-direction: column;
	gap: 16px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-label {
	line-height: 22px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

/* +++++++++++++ КАТАЛОГ  select +++++++++++++++++++*/
.select-control {
	 padding: 8px 14px;
  padding-right: 124px;
  font: inherit;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #242424;
  background-image: url("../img/icons/arr-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;



	}


.select-control:hover,
.select-control:focus {
  border-color: #af7842;
}

.select-control:focus {
  outline: 2px solid #dbb590;
}



/* +++++++++++++ КАТАЛОГ  sort-container +++++++++++++++++++*/

.card-grid-toggle:hover {
	background-color: #814b18;
}

.card-grid-toggle:focus {
	outline: 2px solid #dbb590;
	background-color: #4e2e0e;
}

.card-grid-toggle:hover {
	background-color: #814b18;
}

.card-grid-toggle:focus {
	outline: 2px solid #dbb590;
	background-color: #4e2e0e;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
	fill: #ffffff;
}

/* +++++++++++++ КАТАЛОГ  catalog +++++++++++++++++++*/


.catalog {
	width: 700px;
}

.sort-container {
	background-color: #ffffff;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
}

.sort-wrapp {
	max-width: 168px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px;
}

.sort-wrapp .button {
	display: block;
	padding: 14px 20px;
	min-width: 16px;
	min-height: 16px;
}

.button-light {
	color: #000000;
	background-color: #ffffff;
}

.card-wrapp {
	display: flex;
	flex-direction: column;
	padding: 16px;
	flex-grow: 1;
}

.product-list {
	/* display: flex;
	flex-wrap: wrap;
	gap: 15px;  */
	/* что-то не так с размерами*/

	display: grid;
	grid-template-columns: repeat(3, 220px);
	gap: 20px;

	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 24px;
}

.product-card-link {
	display: block;
	padding: 16px 0;
	background-color: #F6F6F6;

}

.product-card {
	/* width: 220px; */
	display: flex;
	flex-direction: column;
	background-color: #ffffff;

}

.product-card-link {
	text-decoration: none;
}

.product-card-title {
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	color: #242424;
	margin: 0;
	margin-bottom: 8px;
}

.product-card-price {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 24px;
	line-height: 120%;
	font-weight: 700;
	color: #AF7842;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 40px;
}

.button-prod-card {
	margin-top: auto;
}

.pagination {
	max-width: 420px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.pag-link {
	display: block;
	box-sizing: border-box;
	padding: 14px 20px;
	min-width: 50px;
	min-height: 44px;
	height: 100%;

	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
}

.pag-prev {
	background-image: url("../img/icons/arrow-left.svg");
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.pag-next {
	background-image: url("../img/icons/arrow-right.svg");
	background-position: center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.pagination-container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	background-color: #ffffff;
}


.pag-current {
	color: #000000;
	background-color: #ffffff;
}

.pag-disabled {
	background-color: #595959;
}

.pag-link:hover {
	background-color: #814b18;
}

.pag-link:focus {
	outline: 2px solid #dbb590;
	background-color: #4e2e0e;
}

/* +++++++++++++ Модальное окно +++++++++++++++++++*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}


.modal-auth {
  width: 360px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/icons/btn-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 


.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 328px;
}


.auth-form-recovery {
  line-height: 22px;
  color: #000000;
}

.auth-form-button {
  width: 360px;
  margin-bottom: 16px;
}

.auth-form .button + .button {
  margin: 0;
}

.auth-form-register {
display: block;

  color: #000000;
  background-color: #ffffff;
}

.modal-container-close {
  display: none;
}
